# Ignore all node_modules everywhere
node_modules/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
nutrimind-backend/data/RAW_recipes.csv
nutrimind-backend/data/recipes.json